## Two sample T test

In [2]:
import scipy.stats as stats
import math
ClassB_ages = stats.poisson.rvs(loc=18,mu=33,size=60)

In [3]:
ClassA_ages= stats.poisson.rvs(loc=18,mu=35,size=1500)

In [6]:
ttest,p_value = stats.ttest_ind(ClassA_ages,ClassB_ages)

In [7]:
p_value

0.00720210214651641

## Paired T-test

In [3]:
weight1 = [25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]

In [4]:
len(weight1)

15

In [19]:
weight2 = weight1 + stats.norm.rvs(scale=5,loc=-1.25,size=15)

In [20]:
weight2

array([26.4422814 , 30.15372867, 22.74546959, 38.14577942, 30.29828313,
       31.56385605, 28.18653612, 26.56095463, 19.16948137, 24.00425348,
       30.00562739, 35.74802546, 32.39020769, 30.06933052, 39.42856226])

In [21]:
weight_df = pd.DataFrame({"weight_10":np.array(weight1), "weight_20":np.array(weight2),"weight_change":np.array(weight1)-np.array(weight2)})

In [22]:
weight_df

    weight_10  weight_20  weight_change
0          25  26.442281      -1.442281
1          30  30.153729      -0.153729
2          28  22.745470       5.254530
3          35  38.145779      -3.145779
4          28  30.298283      -2.298283
5          34  31.563856       2.436144
6          26  28.186536      -2.186536
7          29  26.560955       2.439045
8          30  19.169481      10.830519
9          26  24.004253       1.995747
10         28  30.005627      -2.005627
11         32  35.748025      -3.748025
12         31  32.390208      -1.390208
13         30  30.069331      -0.069331
14         45  39.428562       5.571438

In [26]:
ttest,p_value = stats.ttest_rel(weight1,weight2)

In [27]:
p_value

0.4483802484929498

### Correlation

In [31]:
import seaborn as sna
dataset = sns.load_dataset('tips')

In [32]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [33]:
dataset_table = pd.crosstab(dataset['sex'],dataset['smoker'])

In [34]:
dataset_table

smoker  Yes  No
sex
Male     60  97
Female   33  54